<header class="library__header">
  <nav class="navigation container">
    <a class="navigation__logo" href="./index.html">
      <svg class="navigation__icon" width="24" height="24">
        <use href="./img/icons.svg#icon-film"></use>
      </svg>
      <span class="navigation__title">Filmoteka</span>
    </a>
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="./index.html" class="navigation__link">Home</a>
      </li>
      <li class="navigation__item">
        <a href="./library.html" class="navigation__link --current">My library</a>
      </li>
    </ul>
  </nav>
  <div class="buttons">
		<button class="button" id="watched-btn">watched</button>
		<button class="button" id="queue-btn">queue</button>
  </div>
</header>
